
<div id='login-screen-background'>
	<div class='spacer-100'> </div>
	<%= form_tag sessions_path do %>
		<p class='title-text'>Login</p>

		<% if flash.now[:error] %>
			<div id='login-error'>
				<p id='error-text'><%= flash.now[:error] %></p>
			</div>
		<% end %>
		
		<% if flash.now[:error] %>

			<%= label_tag :email %>
			<%= text_field_tag :email, nil, class: "error"%>

			<%= label_tag :password %>
			<%= password_field_tag :password, nil, class: "error" %>

		<% else %>
		
			<%= label_tag :email %>
			<%= text_field_tag :email%>

			<%= label_tag :password %>
			<%= password_field_tag :password%>
		
		<% end %>

		<%= link_to 'Forgot Password?', 'http://www.google.ca', id: 'forgot' %>

		<%= submit_tag 'LOGIN'%>

		<p id='no-account'>Don't have an account? <%= link_to 'Sign up now!', new_user_path %></p>
	<% end %>
</div>
