<div id='signup-screen-background'>
	<% if @user.errors.any? %>
	  <div id="error_explanation">
	    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this User from being saved:</h2>
	 
	    <ul>
	    <% @user.errors.full_messages.each do |msg| %>
	      <li><%= msg %></li>
	    <% end %>
	    </ul>
	  </div>
	<% end %>
	
	<div class='spacer-100'></div>
	<%= form_for @user do |f| %>

		<p class='title-text'> Sign up </p>
	   <%= f.label 'Email:'%>
	   <%= f.text_field :email, autofocus: :true %>
	   <%= f.label 'Password:' %>
	   <%= f.password_field :password %>
	   <%= f.label 'Password Confirmation:' %>
	   <%= f.password_field :password_confirmation %>
	   
	   <%= f.submit "SUBMIT" %>

	   <p id='yes-account'>Have an account? <%= link_to 'Login!', new_session_path %></p>

	<% end %>
</div>