<h2> User Id: <%= @user.id %> | User Email: <%= @user.email %> | Edit User: <%= link_to 'Edit User', edit_user_path(@user) %></h2>

<% if @user.kids.any? %>
	<p><%= @user.email %> has <%= pluralize(@user.kids.count, 'Child') %></p>

	<h5>
	<% @user.kids.each do |kid| %>
		<p> Kid Bio: <%= kid.bio %> </p>
		<p> Parent 1: <%= kid.parent1 %> </p>
		<p> Parent 1 Bio: <%= kid.parent1bio %> </p>
		<p> Parent 2: <%= kid.parent2bio %> </p>
		<p>Birthday: <%= kid.birthday %></p>

	<% end %>
	</h5>

<% else %>
	<p><%= @user.email %> has no children yet!</p>

<% end %>



