<nav>
		<ul>
			<li> <%= link_to 'Users Index', root_path %> </li>
			 <% if current_user %>
			 <li>
					Signed in as: <%= link_to current_user.email, current_user %>
				</li>
				<li> <%= link_to "Log Out", session_path("current"), method: :delete %></li>
				<li>
					<li> <%= link_to "Create New Child", new_user_kid_path(current_user)%> </li>
			<% else %>
			<li>
				<%= link_to "New Account", new_user_path %>
			</li>
				<li>
					<%= link_to "Log in", new_session_path %>
			<% end %>
				</li>
		</ul>
	</nav>