<nav id='nav'>
	<div id='nav-header'>
		<div id='nav-text'>
			<%= link_to (image_tag "headerlogo.png", id: "nav-header-image"), root_path %>
			<ul id='nav-list'>
				 <% if current_user %>
					 <li>
							<a href="http://www.babychronicles.com/baby_chronicles_books-86.html">Books</a>
						</li>
						<li id='dropdown'>
							<%= current_user.email %> ▾
								<ul id='dropdown-list'>
									<li>My Account</li>
									<li>Logout</li>
								</ul>
						</li>
						<li> <%= link_to "Log Out", session_path("current"), method: :delete %></li>
							<!-- <li> <%= link_to "Create New Child", new_user_kid_path(current_user)%> </li> -->
				<% else %>
						<li>
							<a href="http://www.babychronicles.com/baby_chronicles_books-86.html">Books</a>
						</li>
						<li>
							<%= link_to "Sign Up", new_user_path %>
						</li>
						<li>
							<div id='login'>
								<%= link_to "Login", new_session_path %>
							</div>
						</li>
				<% end %>
				</ul>
			</div>
		</div>
</nav>