<!DOCTYPE html>
<html>
<head>
  <title>Baby Chronicles</title>
  <%= favicon_link_tag 'favicon.png' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<%= render "layouts/nav" %>

<%= yield %>

</body>
</html>
